:root {
  --primary-color: #dfb426;
  background-image: url('../public/pic.jpg');
  overlay-bg-color: rgba(0, 147, 188, 0.6);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.home {
  display: grid;
  place-items: center;
  height: 100vh;
  background: var(--overlay-bg-color) linear-gradient(to bottom, rgba(0, 204, 255, 0.9), rgba(0, 128, 255, 0.7)), url('../public/pic.jpg'); /* Combine gradient and image */
  color: var(--primary-color);
  text-align: center;
}

.overlay {
  position: relative;
  z-index: 1;
  padding: 20px;
  background: var(--overlay-bg-color);
  border-radius: 10px;
}

.overlay h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #fff; /* White text for better contrast */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Black text shadow for depth */
  font-family: 'Montserrat', sans-serif; /* Example font for heading */
}

.overlay p {
  font-size: 1.5em;
  margin: 0;
  color: #fff; /* White text for better contrast */
  text-shadow: 1px 1px 3px rgba(255, 102, 102, 0.4); /* Pink text shadow for accent */
  font-family: 'Open Sans', sans-serif; /* Example font for paragraph */
}

/* Add a button with hover animation (example) */
.button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.1); /* Scale up on hover for subtle animation */
}
